<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="CapaDatos.Properties.Settings.cn" connectionString="Data Source=192.168.1.66;Initial Catalog=Biozono;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Capa_Datos.Properties.Settings.cn" connectionString="Data Source=(localdb)\DESKTOP-U0KR853\SERVIDORSQL;Initial Catalog=Biozono;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>